# Terraform state files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Terraform plan files
*.plan

# Local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform variables files (nếu chứa thông tin nhạy cảm)
*.tfvars
*.tfvars.json

# Module cache
.terraform/
.terraform.lock.hcl

# VS Code settings
.vscode/
